
beautifulsoup4==4.9.1
decorator==4.4.2
Django==3.1
django-category==2.0.1
django-crispy-forms==1.9.2
django-crum==0.7.7
django-filter==2.4.0
django-layers-hr==1.11.1
django-likes==2.0.1
django-object-tools==2.0.0
django-pagination-fork==1.0.17
django-photologue==3.12
django-preferences==1.0.0
django-secretballot==1.0.0
django-sites-groups==1.11.1
django-sortedm2m==3.0.2
django-ultracache==2.0.0
djangorestframework==3.11.1
djangorestframework-extras==0.3.0
djangorestframework-jwt==1.8.0
docopt==0.6.2
docutils==0.16
git-account==100.99.99
git-author==0.1.0
git-bash==0.2
git-clone==1.0.6
git-ctm==0.2.0
git-fortune==0.0.4
git-plus==0.4.6
git-portfolio==0.0.2
git-praise==1.4.0
git-remote==0.0.0
git-review==1.28.0
git-speed==1.1.0
git-task==0.0.33
git-up==2.0.1
gitdb==4.0.5
GitPython==3.1.7
graphviz==0.13.2
gTTS==2.1.1
gTTS-token==1.1.3
gunicorn==20.0.4
h5py==2.10.0
https-everywhere==0.2.2
huepy==1.2.1
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.2
Jinja2==2.11.2
whitenoise==5.2.0

keyring==21.5.0
pi==0.1.2
Pillow==7.1.2
urllib3==1.25.10

virtualenv==20.1.0

